#html
{
    background-color:#01303f;
}

#wel,#p1,#p2
{
    text-align: center;
}

.azul0
{
    color:#d4f0fc;
    background-color: 	#89d6fb;
}

#pa1
{
    background-color: #a9e159;
    text-align:left;

}