* {
    box-sizing: border-box;
    padding: 0px
}


html
{
    background-color:#136b91;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-nav li{
    display: inline-block;
}

nav{
    text-align: center;
}

.header-nav__item {
    color: rgb(201, 245, 200);
    text-decoration: none;
}

.header-nav__item:hover{
    color: black;
}

.header-nav__item:active{
    color: gray;
}

.header-nav__item::after{
    content: " |";
}

.main-container__item{
    text-align: center;
    color:#d4f0fc;
}

h1 + .main-container__item{
    color: rgb(157, 226, 66);
}


.form-container{
    text-align: center;
}

.figure-container{
    text-align: center;
}

.figure-container__item{
    color: #d4f0fc;
}