html
{
    background-color:#02577a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#wel,#p1,#p2
{
    text-align: center;
}

#p0
{
    text-align:center;
}


.azul0,.azul2,.azul3
{
    color:#d4f0fc;
}

.verde0
{
    color: #a9e159;
}

#image0
{
    text-align: center;
}

#redes
{
    color:#d4f0fc;
}