<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/anniversary.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>Feliz Aniversario Mujer Hermosa<3</title>
</head>
<body>
    <header><h1 class="header-title">🥂Feliz Aniversario Mi Amor🥂</h1></header>
    <main class="main-container">
        <section class="main-text">
            <p>Muchisimas gracias por estar aquí conmigo cariño <br>
            A pesar de todas las cosas, nuestros pequeños errores humanos con todo y defectos, me gustaría que no dudes ni un poquito de que<br>
            <strong>Te Amo Domenica Plaza.</strong> <br>
            Eres una mujer <strong>Maravillosa, Increíble, Inteligente, Super Amable y Amorosa.</strong> La verdad es que soy un hombre muy afortunado por poder compartir todos los dias aunquea un poquito de nuestro tiempo, estando juntos. No me imagino todas las aventuras increíbles que me hubiera perdido si no te hubiera conocido, si no me hubieras platicado y si no te hubieras animado a darme un poquito de tú amor. <br>
            Quiero demostrarte todo mi amor siempre que pueda y Tú mi amor. <br>
            Te lo mereces, te mereces las cosas más bonitas y maravillosas de esta vida y este mundo. No dejes de creer en ti, creer en tus sueños, creer en tus metas y querer estar feliz, Amate tanto como yo Te Amo a ti, porque. <br> <strong>Te lo mereces</strong> <br>
            <strong>Mereces ser una mujer Libre, Segura y Feliz</strong>
            Te Amo Mi Amor, espero que te hubiera gustado mucho todo, y que te hubiera sacado muchas sonrias para poder apreciar tu Sonrisa Preciosa. Estoy muy feliz y muy agradecido por todo ese amor tan Hermoso. <br>
            <strong>FELIZ ANIVERSARIO MI AMOR ❤️</strong>
            </p>
        </section>

        <section class="main-galery">
            <h2 class="galery-title">Galeria de Recuerdos</h2>
                <div class="container-img">
                    <img src="/website Domi/full images/IMG_5846.JPEG" alt="">
                    <img src="/website Domi/2316x3088/Olive_Theory.JPG" alt="">
                    <img src="/website Domi/full images/38f533ca-7ca5-4265-bb26-befcac71eefe.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_8390.JPEG" alt="">
                    <img src="/website Domi/3024x4032/Museo_pic.JPG" alt="">
                    <img src="/website Domi/full images/EC020B4B-35BE-40EC-B985-94458BD63FC4.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_9203.JPEG" alt="">
                    <img src="/website Domi/2316x3088/Mansion_Matilda.JPG" alt="">
                    <img src="/website Domi/3024x4032/Two_Chorreras.JPG" alt="">
                    <img src="/website Domi/full images/84ac3c2f-3ab7-453f-932d-24f3b71ab788.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_8570.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_9004.JPEG" alt="">
                    <img src="/website Domi/4032x3024/Foto Caminito.JPG" alt="">
                    <img src="/website Domi/full images/IMG_9081.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_9602.JPEG" alt="">
                    <img src="/website Domi/full images/IMG_6885.JPG" alt="">
                    <img src="/website Domi/full images/IMG_6506.JPG" alt="">
                    <img src="/website Domi/full images/IMG_6906.JPG" alt="">
                </div>
                <audio class = "main-audio" controls preload="auto" autoplay loop >
                    <source src="/Cigarettes After Sex - Apocalypse .mp3" type="audio/mpeg">
                </audio>

                <div class="important-container">
                    <span>Desliza para ver</span>
                    <h1 class="important">TE AMO BONITA</h1>
                </div>
        </section>
    </main>
</body>
</html>