<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web site of Stiven for Domi, because is very very beutiful. I love You Honey<3">
    <title>Love Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./favicon.png" type="image/png">
    <script type="module" src="./index.js"></script>
</head>
<body>
    
    <header class="header-container">
        <nav>
            <a  href="">Home</a>
            <a  href="#List-love">List Love</a>
            <a  href="#footer">Contact</a>
        </nav>

        <ul>
            <li>
                <a href="/views/login.html" target="_blank" rel="noreferrer">
                        <div>
                            Login
                        </div>
                </a>
            </li>

            <li>
                <a href="https://github.com/STIXGT" target="_blank" rel="noreferrer">
                    <img src="/icons/icons8-github.svg" alt="github icon">
                </a>
            </li>

            <li>
                <a href="https://www.instagram.com/stiveng39/" target="_blank" rel="noreferrer">
                    <img src="/icons/icons8-instagram-24.svg" alt="instagram icon">
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/stiven-guanoquiza-a47142246/" target="_blank" rel="noreferrer">
                    <img src="/icons/icons8-linkedin-24.svg" alt="linkeid icon">
                </a>
            </li>

            <li>
                <a href="https://twitter.com/stiveng39" target="_blank" rel="noreferrer">
                    <img src="/icons/icons8-twitter-24.svg" alt="twitter icon">
                </a>
            </li>

            <li>
                <a href="http://web.whatsapp.com/send?text=I am client&phone=+5930991581684&abid=+5930991581684" target="_blank" rel="noreferrer">
                    <img src="/icons/icons8-whatsapp-24.svg" alt="whatsapp icon">
                </a>
            </li>

            

        </ul>
    </header>

   
    <main class="main-contain">
        <h1 class="main-title">Web site for 
            <a href="https://www.instagram.com/dom.icyhot/" target="_blank">
               Domenica Plaza
            </a>
        </h1>

        <button type="submit" class="main-dialog" >more Information</button>

        <dialog id="dialog">
            <form method="dialog">
                <h1>More Information</h1>
                <p>learning bro</p>
                <button>close</button>
            </form>
        </dialog>
    
        <section class="main-section-question">
            <h2>Recurrent Questions</h2>
            <details name="questions">
                <summary>¿Why create this website?</summary>
                <p>I like build website and learning while i enjoy.</p>
            </details>

            <details name="questions">
                <summary>¿Who i am?</summary>
                <p>Developer front-end young.</p>
            </details>
        </section>

        <section class="main-section">
            <header>
                <h3 id="List-love">List of Love</h3>
            </header>

            <ol>
                <li>Love</li>
                <li>Respect</li>
                <li>Admiration</li>
            </ol>
        </section>

    </main>

    <footer id="footer" class="footer-container">
        <h3>Contact:</h3>

        <ul>
            <li>
                <a href="mailto:stiveguano@gmail.com" rel="noreferrer">
                    <div>Send Email</div>
                </a>
            </li>
        

            <li>
                <a href="tel: +5930991581684" rel="noreferrer">
                    Call me
                </a>
            </li>

            <li>
                <a  href="whatsapp://send?text=Hello, I am client&phone=+5930991581684&abid=+5930991581684" rel="noreferrer">Send a whatsapp 

                </a>
            </li>

            <li>
                <a href="http://web.whatsapp.com/send?text=I am client&phone=+5930991581684&abid=+5930991581684" target="_blank" rel="noreferrer"> 
                    Send a Whatsapp Web
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>